#projects-showcase .nav-wrapper{
    background-color: black;
    height: 8vh;
}
#all-projects{
    height: 570vh;
    padding-top: 50px;
    margin-bottom: 0;
}
#all-projects h1 {
    font-size: 33.3px;
    text-transform: uppercase;
    color: #444649;
    text-align: center;
    margin-bottom: 10px;
}
#all-projects h3 {
    // color: rgba(165, 55, 253, 1);
    text-transform: uppercase;
    margin-bottom: 10px;
}
#all-projects .purple-highlight{
    // color: rgba(165, 55, 253, 1);
}
#all-projects .title-hr{
    margin-bottom: 50px;
}
#all-projects hr{
    margin-top: 0;
    width: 20%;
    border: 2px solid #e31b6d;
    color: #444649;
    margin-bottom: 20px;
}
#all-projects .projects hr{
    float: left;
    margin-top: 0px;
}
#all-projects .project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#all-projects .project-wrapper{
    background-color: #f5f5f5;
    background-color: #252934;
    background-color: rgb(245, 245, 245);
    margin-bottom: 30px;
    padding: 20px;
}
#all-projects img{
    width: 340px;
    height: 280px;
    margin: auto;
    margin-bottom: 5px;
}
#all-projects .projects{
    cursor: pointer;
}
#main-footer .all-projects-footer{
    margin-top: 20;
}