// Media queries

//main Navbar hamburger menu
@media screen and (max-width: 699px) {
    
    #mainMenu, .right input {
		display:none;
	}
    #menuShowHide+label:before {
        content:"Show menu";
        cursor: pointer;
        text-decoration: none;
	}
    #menuShowHide:checked ~ #mainMenu {
        display:block;
        position: relative;
        bottom: 5px;
        float: right;
        list-style: none;
        color: #fff; 
        cursor: pointer;
        text-decoration: none;
    }  
    #menuShowHide+label {
        // position: relative;
        position: absolute;
        top: 30px;
        left: 300px;
        // float: right;
        padding: 0.5em;
        margin: -4.75em 0.5em 0;
        border: transparent;
        background: transparent;
        color: #FFF;
        border-radius: 0.5em;
        margin-top: -25px;
        cursor: pointer;
    }
    #menuShowHide+label:active,
    #menuShowHide+label:focus,
    #menuShowHide+label:hover {
        background: black;
    }
    #menuShowHide+label:after, #menuShowHide+label:before {
        content: "";
        display: block;
        width: 2em;
        height: 0.5em;
        border: solid #FFF;
        border-width: 0.25em 0;
    }
    #menuShowHide+label:after {
        border-top: 0;
    }
}
@media screen and (max-width: 499px){
    #contact-section .contact-form .submit-button {
        width: 335px;
    }
}
//To remove side scroll on mobile version
@media screen and (max-width: 375px){
    #hamburger-menu #mainMenu{
        height: 70vh;
        position: relative;
        left: -98px;
        background-color: rgba(27, 36, 47, 1);
        margin-top: 40px;
        border-radius: 20px;
        border: 1px solid #fff;
        padding-left: 120px;
        padding-right: 100px;
        width: 100px;
        z-index: 2;
    }
    #hamburger-menu #mainMenu li {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        z-index: 2;
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
        text-transform: uppercase;
        a{
            color: #e31b6d;
        }
    }
    #showcase{
        width: 375px;
    }
    #showcase .video-container{
        width: 375px;
    }
    .projects-content .header-hr-wrap{
        padding-top: 10px;
    }
    #projects-section .projects-content p{
        font-size: 18px;
        padding-bottom: 20px;
    } 
    #about-section {
        height: 90vh;
        padding-top: 20px;
    }
    #blog-section {
        height: 250vh;
    }
    //contact section
    #contact-section .contact-details{
        width: 100%;
    }
    #contact-section .contact-details .contact-form {
        width: 98%;
        margin: auto;
    }
}

// Index.html page
@media screen and (min-width: 500px){
    // //Showcase 
    // #showcase{
    //     margin-bottom: 0px;
    // }
    //projects
    #projects-section {
        margin-top: 150px;
    }
    #projects-section .project-img .all-projects{
        width: 85%;
    }
    #projects-section .project-img .web-development{
        width: 85%;
    }
    #projects-section .project-img .web-design{
        width: 85%;
    
    }
    #projects-section .project-img .all-projects h3{
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 0%;
        margin-right: 15%;
        
    }
//About section
    #about-section .about-content .greeting-img-wrapper{
        height: 60vh;
        display: inline-block;
        width: 80%;
        display: inline-block;
        margin-left: 20%;
        margin-right: 20%;
        
    }
    #about-section .about-content .about-me {
        margin-top: 30px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
//Blog section
    #blog-section .blogs img {
        width: 65%;
    }
    #blog-section .blogs p {
        width: 65%;
    }
//Contact section
//     #contact-section .contact-form{
//         width: 90%;
//         margin: auto;
//         text-align: center;
//     }
    #contact-section .contact-details iframe{
        display: block;
    }
    #contact-section .contact-form input {
        width: 400px;
    }
    #contact-section .contact-form textarea {
        width: 432px;
    }
}
@media screen and (min-width: 768px){
    #about-section{
        height: 80vh;
    }
}

@media screen and (min-width: 700px){
    //Blogs
    #blog-section .blog-header-hr {
        margin-bottom: 18%;
    }
    #blog-section .blogs-container {
        // width: 85%;
        width: 60%;
        transform: scale(1.05);
        margin: auto;
        // text-align: center;
    }
    #blog-section .blogs-container .blogs img {
        width: 100%;
    }
    #blog-section .blogs-container .blogs {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #blog-section .blogs-container .blogs p{
        margin-top: 10px;
        width: 100%;
    }
    #blog-section .blogs-container .blogs button {
        margin-top: 10px;
        align-self: flex-start;
    }
    #blog-section .blogs-container .blogs .title-hr hr{
        width: 80%;
    }
    #blog-section .blogs-container .blogs .title-hr{
        align-self: flex-start;
        
       
    }
}

@media screen and (min-width: 700px){
    //Showcase
    // body, section{
    //     overflow-x: hidden;
    //     // overflow-y: hidden;
    // }
    #showcase:hover{
        .home{ 
            color: #e31b6d;
            font-weight: bolder;
        }
    }
    #showcase #nav-container{
        margin-top: -10px;
        overflow: hidden;
        width: 100%;
        height: 70px;
        position: fixed;
        background-color: rgba(000,000,000, 0.7);
        z-index: 1;
    }
    #showcase .main-navbar{
        width: 80%;
        padding-left: 20px;    
    }
    #showcase .main-navbar .left{
        margin-top: 10px;
    }
    #showcase .main-navbar input[type="checkbox" i] {
        display: none;
    }
    #showcase .main-navbar #mainMenu {
        display: flex;
        width: 95%;
        justify-content: space-around;
        align-items: flex-start;
    }
    #showcase .main-navbar .right{
        margin-top: 5px;
        margin-right: -15px;
    }
    #showcase .main-navbar #mainMenu .resume-button{
        border: solid 2px #e31b6d;
        padding-top: 5px;
        padding-bottom: 5px;
        // border-radius: 20px;
        // background-color: #e31b6d;
        color: #e31b6d !important;
    }
    #showcase .main-navbar #mainMenu .resume-button:hover{
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #showcase .main-navbar #mainMenu .menu-li{
        margin-top: 6px;
    }
    #showcase .main-navbar #mainMenu li {
        padding-left: 3%;
        padding-right: 3%;
    }
    #showcase .header-content{
        margin: auto;
        margin-top: 10px;
        width: 640px;
        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: center;
    }
    #showcase .header-content h1 br{
        display: none;
        // padding-top: 90px;
    }
    #showcase .header-content h1{
        font-size: 35px;
        line-height: 48px;
    }
    #showcase .header-content button {
        margin-top: 0px;
        align-self: flex-start;
    }
    #blog-section .blogs-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #blog-section .blogs-container .blogs{
        width: 40%;
    }
    #blog-section .blogs-container .blogs img {
        width: 100%;
        height: 200.14px;
    }
}
@media screen and (min-width: 850px){
    body h1{
        font-size: 40px;
    }
    //Projects
    #projects-section .projects-content h1{
        font-size: 40px;
    }
    #projects-section{
        height: 80vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #projects-section .header-hr-wrap{
        margin-bottom: 40px;
    }
    #projects-section .projects-content p{
        width: 80%;
        margin: auto;
    }
    #projects-section{
        overflow-x: hidden;
        padding-bottom: 0;
    } 
    #projects-section .project-img h3 {
        display: none;
    }
    #projects-section .project-img{
        position: relative;
        top: 50px;
        left: 50%;
        transform: translatex(-50%);
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #projects-section .project-img .all-image{
        height: 318px;
        width: 38%;
        // margin: 0;
    }
    #projects-section .project-img .dev-image{
        // padding-top: 68px;
        height: 318px;
        width: 38%;
        // margin: 0;
    }
    #projects-section .project-img .design-image{
        height: 318px;
        width: 38%;
        // margin: 0;
    }

    #projects-section .project-img .all-projects{
        // width: 104%; 
        // height: 318px;
        // 108
        margin: 0;
    }
    #projects-section .project-img .all-projects:hover{
        .hover-text{
            display: block;
            display: flex;
            text-transform: uppercase;
            align-self: center;
            justify-content: center;
            padding-top: 123px;
            padding-bottom: 123px;
            color: #e31b6d;
            font-size: 30px;
            font-weight: 800;
            background-color: rgba(165, 55, 253, 0.2);
            text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
        }
    }
    #projects-section .project-img .web-development{
        // width: 88.5%; 
        // height: 318px;
        // 92.5
        margin: 0;
    }
    #projects-section .project-img .web-development:hover{
        .hover-text{
            display: block;
            display: flex;
            text-transform: uppercase;
            align-self: center;
            justify-content: center;
            padding-top: 125px;
            padding-bottom: 125px;
            color: #e31b6d;
            font-size: 22px;
            font-weight: 800;
            background-color: rgba(165, 55, 253, 0.2);
            text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
            
        }
    }
    #projects-section .project-img .web-design{
        margin: 0;
    }
    #projects-section .project-img .web-design:hover{
        .hover-text{
            display: block;
            display: flex;
            text-transform: uppercase;
            align-self: center;
            justify-content: center;
            padding-top: 123px;
            padding-bottom: 123px;
            color: #e31b6d;
            font-size: 30px;
            font-weight: 800;
            background-color: rgba(165, 55, 253, 0.2);
            text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
        }
    }
    #projects-section .project-img .all-projects h3{
        display: none;
        
    }
    //About section
    #about-section .about-hr{
        display: block;
    }
    #about-section .about-content h1{
        font-size: 40px;
    }
    #about-section{
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #about-section .header-hr{
        margin-top: 80px;
    }
    #about-section .about-content .about-content-wrapper{
        width: 98%;
        height: 100%;
    }
    #about-section .about-content .greeting-img-wrapper{
        // height: 60vh;
        // display: inline-block;
        // width: 80%;
        // display: inline-block;
        // margin-left: 20%;
        // margin-right: 20%;
        position: relative;
        left: -150px;
        top: 120px;
        right: 0px;
        padding-right: 20%;
    }
    #about-section .about-content .about-me {
        // margin-top: 30px;
        // padding-left: 40px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        position: relative;
        left: 200px;
        top: -730px;
        width: 91%;
    } 
    #about-section .about-content .about-me h3{
        font-size: 35px;
    }
    #about-section .about-content .about-me p br{
        display: none;
    }
    #about-section .about-content .about-me p{
        width: 55%;
    }
    //Blog
    #blog-section .blog-header-hr h1{
        font-size: 40px;
    }
    #blog-section .blog-header-hr {
        // margin-bottom: 18%;
    }
    #blog-section .blogs-container {
        // width: 85%;
        // width: 40%;
        // transform: scale(1.05);
        // margin: auto;
        // text-align: center;
    }
    #blog-section .blogs-container .blogs img {
        // width: 100%;
    }
    #blog-section .blogs-container .blogs {
        // width: 95%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }
    #blog-section .blogs-container .blogs p{
        // margin-top: 10px;
        // width: 100%;
        font-size: 15px;
    }
    #blog-section .blogs-container .blogs button {
        // margin-top: 10px;
        // align-self: flex-start;
        font-size: 13px;
    }
    #blog-section .blogs-container .blogs .title-hr hr{
        // width: 80%;
    }
    #blog-section .blogs-container .blogs .title-hr{
        // align-self: flex-start;
        
       
    }
    //contact section
    #contact-section .contact-hr h1{
        font-size: 40px;
    }
}

@media screen and (min-width: 900px){
    #contact-section .contact-details{
        width: 96%;
    }
    #contact-section .contact-details{
        flex-wrap: nowrap;
    }
    #contact-section .contact-details form{
        padding-right: 10px;
    }
    #contact-section .contact-details iframe{
        padding-left: 10px;
    }
}
@media screen and (min-width: 1000px){
    //projects
    #projects-section{
        height: 100vh;
    }
    //about me
    #about-section .about-content .greeting-img-wrapper{
        position: relative;
        left: -150px;
        top: 180px;
        right: 0px;
        padding-right: 20%;
    }
    #about-section .about-content .about-me {
        position: relative;
        left: 200px;
        top: -660px;
        width: 91%;
    }
    #about-section .about-hr{
        position: relative;
        top: -700px;
        width: 100%;
    }
    //Blog
    #blog-section{
        height: 180vh;
    }
    #blog-section .blog-header-hr {
        margin-bottom: 120px;
    }
    #blog-section .blogs-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: row wrap;
        width: 70%;
        margin: auto;
        align-items: center;
    }
    #blog-section .blogs-container .blogs img {
        // width: 100%;
        height: 160px;
    }
    #blog-section .blogs-container .blogs {
        width: 30%;
    }
    #blog-section .blogs-container .blogs h3{
        font-size: 20px;
    }
    #blog-section .blogs-container .blogs .date{
        font-size: 13px;
    }
    #blog-section .blogs-container .blogs p{
        font-size: 14px;
    }
    #blog-section .blogs-container .blogs button {
        // margin-top: 10px;
        // align-self: flex-start;
        font-size: 13px;
    }
    #blog-section .blogs-container .blogs .title-hr hr{
        // width: 80%;
    }
    #blog-section .blogs-container .blogs .title-hr{
        // align-self: flex-start;
        
       
    }
    //Footer section
    #main-footer .footer-container {
        // margin-top: 15px;
        // display: flex;
        justify-content: center;
    }
    #main-footer .footer-container .instagram, .linkedin, .codepen, .github{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media screen and (min-width: 1200px){
    //About section
    #about-section{
        height: 80vh;
    }
    #about-section .header-hr{
        // margin-top: 80px;
    }
    #about-section .about-content .about-content-wrapper{
        width: 100%;
        // height: 100%;
    }
    #about-section .about-content .greeting-img-wrapper{
        position: relative;
        left: -200px;
        top: -80px;
        right: 0px;
        
        
    }
    #about-section .about-content img{
        height: 500px;
        width: 400px;
        padding-left: 40px;
    }
    #about-section .about-content .object{
        margin-right: 0px;
        position: relative;
        left: 185px;
        width: 300px;
        height: 300px;
        top: 40px;
    }
    #about-section .about-content .say-hi{
        padding-left: 40px;
        position: relative;
        top: 80px;
        font-size: 80px;
    }
    #about-section .about-content .about-me {
        width: 80%;
        margin: auto;
        padding-left: 130px;
        display: flex;
        position: relative;
        top: -850px;
    } 
    #about-section .about-content .about-me h3{
        // font-size: 35px;
    }
    #about-section .about-content .about-me p br{
        // display: none;
    }
    #about-section .about-content .about-me p{
        // width: 55%;
    }
    #about-section .about-hr{
        position: relative;
        top: -880px;
        left: 280px;
        width: 60%;
        border: 0;
        height: 1px;
    }
    //contact section
    #contact-section .contact-details{
        width: 85%;
    }
}