.red-highlight{
    color: #e31b6d;
}
.hover-text{
    display: none;
}
#blog-section .blogs-not-displayed{
    display: none;
}
body{
    overflow-x: hidden;
    
}
* a{
    text-decoration: none;
    color: #fff;
}
body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    margin: 0;
    // color: #fff;
    width:100vw; 
    overflow-x: scroll;
    // background-color: #fff;
}

// Show case section
#show-case{
    position: relative;
    height: 200vh;
    width: 100vh;
    display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 0px;
}
.video-container{
    position: absolute; 
    top: 0;
    left: 0;
    width: cover;
    // height: 100%;
    // max-width: 180vh;
    width: 100%;
    overflow: hidden;
    background: black;
    margin-bottom: 0;
}
.video-container video{
    // min-width: 100%;
    // min-height: 100%;
    max-width: 580vh;
    object-fit: cover;
    width: 1700px;
    background-repeat: repeat-x;
    background-size: cover;
}
.header-content{
    z-index: 10;
    position: relative;
    display: fixed;
    overflow-y: hidden; // To remove vertical scroll
    // top: 80px;
    top: 230px;
    // bottom: 80px;
    align-self: center;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin-top: 56%;
    color: #fff;
    height: 320px;
}
#showcase .header-content{
    overflow-y: hidden;
    display: fixed;
}
.header-content button{
    background-color: transparent;
    color: #fff;
    border: solid #e31b6d 3px;
    padding: 12px;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 7px;
    cursor: pointer;
}
.header-content button:hover{
    padding: 15px;
    background-color: #e31b6d;
    color: #fff;
}
.main-navbar{
    z-index: 10;
    position: absolute;
    top: 3px;      //remove when position is set to absolute
    left: 13px;    //remove when position is set to absolute 
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}


.main-navbar .nav-resume{
    display: none;
}
.main-navbar h1{
    font-size: 20px;
    justify-content: flex-start;
    color: #fff;
    
}
.main-navbar ul li{
    list-style: none;
    display: flex;
    text-decoration: none;
}
.main-navbar ul li a {
    text-decoration: none;
    color: #fff;
}
.main-navbar .right{
    margin-top: 30px;
    // margin-right: 30px;
}
.header-content h1{
    font-size: 28px;
    font-weight: 600;
}

// Footer section
#main-footer{
    position: relative;
    top: 700px;
    height: 27vh;
    background-color: #1e242c;
    background-color: #1b242f;
    border-top: solid 1px #616161;
    padding-bottom: 28px;
}

#main-footer button {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    bottom: 30px;
    padding: 8px 8px;
    background-color: #e31b6d;
    border: none;
    cursor: pointer;
}
#main-footer i {
    color: #fff;
}
#main-footer .footer-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
#main-footer .footer-container .instagram, .linkedin, .codepen, .github {
    border: 1px solid #252934;
    padding: 10px;
    background-color: #252934;
}

#main-footer h5 {
    margin-top: 50px;
    color: #616161;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0px;
}
#main-footer .highlight {
    color: #e31b6d;
}
//Navbar 
#showcase #nav-container {
    margin-top: -10px;
    overflow: hidden;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}